data.zip
/Saved_Weights/
/coco/cocoapi
/coco/data
/coco/data_sample
coco/val2017.zip
coco/ann2017.zip
weights/
losses/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
/dissertation/dissertation.log
/models
/results