data.zip
/Saved_Weights/
/coco/cocoapi
/coco/data
/coco/data_sample
coco/val2017.zip
coco/ann2017.zip
weights/
losses/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
/dissertation/dissertation.log
/models
/results
/saved_images
/pix2pix/split_dataset
/pix2pix/results
autoencoder/checkpoints/run1/best_weights.pkl
autoencoder/checkpoints/run1/10.pkl
autoencoder/checkpoints/run1/20.pkl
autoencoder/checkpoints/run1/30.pkl
autoencoder/checkpoints/run1/40.pkl
